<li data-id="<%= task.id %>" class="item block mb-2" draggable="true" data-tasks-target="task" data-action="dragstart->tasks#startDrag dragover->tasks#allowDrop drop->tasks#drop">
    <%= task.name %>
    <%= link_to "Edit", edit_task_path(task), data: { turbo_frame: dom_id(task) }, class:"btn bg-gray-100" %>
    <div class="inline-block ml-2">
        <%= button_to "Delete", task_path(task), method: :delete, class: "btn bg-red-100" %>
    </div>
</li>